################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SIC/.vs/DropAction/v16
/SIC/Debug/
/SIC/Release/
SIC/Enpos.txt
